LOG_CONFIG_PATH=config/logging.yaml
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=open-food-mlops-v2
SERVING_HOST=0.0.0.0
SERVING_PORT=8000
DATA_DOWNLOAD_URL=https://static.openfoodfacts.org/data/en.openfoodfacts.org.products.csv.gz
USER_AGENT=OpenFoodMLOps/1.0 (contact@example.com)